* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  color: #34d399;
    color:  ;
    background-color:#171f25;
    margin: 2em 10vh
    font-size: 10px
    diplay: flex;
} 

h2 {
  color: #34d399;
      background-color:#171f25;
    margin: 2em 10vh
    font-size: center, 10px
}

  .imagem-flutuante {
    float: left;
    width: 150px;
    height: 20vh;
     margin: 1em;
    display: flex;
    
    
  }
.subtitulo {
  clear: both;
}

.container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th,td {
   border: 1px solid     #171f25;
   color: black;
    padding: 10px;
    text-align: left;
}

th {
    background-color:    backgro#171f25;
;
;
h3 {
  color: #34d399;
    background-color:#171f25;
    margin: 2em 10vh
    font-size: center, 10px
}
div {
    height: 150px;
    color: aquamarine;
}

#a {
 
    color: #181848;
}

nav {
    
  color: #34d399;
    

}
